.hero-image {
  background-image: url("../images/city-skyline.jpg"); 
  background-color: #eff4f8;
  height: 175px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: auto;
  margin-bottom: 15px;
}

.set-bkgnd {
    background-color: #eff4f8;
    padding-top: 10px;
    padding-bottom: 15px;
}

p {
    font-size: 1.5em;
}


#search-btn {
    margin-top: 8px;
}

.mapFunctions {
    padding: 2em; 
}

div #mymap {
    width: 100%;
    min-height: 350px;
}

#optsHeader {
    margin-left: 2em;
}

.clearOptsBtn {
    margin: 5px;
}

.searchResults {
    margin-top: 4em;
    margin-left: 3em;
    width: 75%;
}

/* TABLE */
thead {
    font-weight: 600;
    font-size: 1.5em;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F8F5F0;
}

/* INFO WINDOW */
.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}
.hotelIcon {
    width: 24px;
    height: 24px;
}
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}
.iw_table_row {
    height: 18px;
}
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
.iw_table_icon {
    text-align: right;
}

/*  MEDIA QUERIES */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #search-btn {
        margin-top: -4px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media(min-width: 992px) {
    .hero-image {
        height: 263px;
    }
    
    div #mymap {
        width: 700px;
        height: 500px;
    }
}
